body {
    background-color: aliceblue;
}

.nav-link {
    font-size: 26px;
}

.container-lg {
    text-align: center;
    margin-top: 20px;
}

#start-box {
    /* background-color:blueviolet; */
    width: 800px;
    height: 600px;
}

button {
    background-color: chartreuse;
    font-weight: bold;
    height: 75px;
    width: auto;

}

#quiz-box {
    /* background-color:blueviolet; */
    width: 800px;
    height: 600px;
}

ul {
    text-align: center;
    list-style: none;
}

.choice-buttons {
    width: 300px;
    margin: 8px;
}

#end-box {
    /* background-color:blueviolet; */
    width: 800px;
    height: 600px;
    padding: 100px;
}

#high-score-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-info {
    margin-top: 5px;
    background-color: chartreuse;
    color: darkslategrey
}
