body {
    background-color: aliceblue;
}

.nav-link {
    font-size: 26px;
}
.container {
    text-align: center;
}

#start-box {
    background-color:blueviolet;
    width: 800px;
    height: 600px;
}

button {
    background-color: chartreuse;
    font-weight: bold;
    height: 75px;
    width: auto;

}

#quiz-box {
    background-color:blueviolet;
    width: 800px;
    height: 600px;
}

ul {
    text-align: left;
}

#choice-buttons {
    width: 300px;
    margin: 8px;
}
